In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!cd /content/gdrive/MyDrive/FH/SS23; ls

'energydata_complete (1).csv'   energydata_complete.csv

In [3]:
data_dir = "/content/gdrive/MyDrive/FH/SS23/"

In [19]:
## if using Colab, you need to run this every time you start a notebook
## on a local installation, you only need to run this once (or install the
## packages outside of the notebook once and for all)
!pip install git+https://github.com/UBod/pyMLaux.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/UBod/pyMLaux.git
  Cloning https://github.com/UBod/pyMLaux.git to /tmp/pip-req-build-ldzh4k4x
  Running command git clone --filter=blob:none --quiet https://github.com/UBod/pyMLaux.git /tmp/pip-req-build-ldzh4k4x
  Resolved https://github.com/UBod/pyMLaux.git to commit 0d297605dc3f4e3f98b035eccd03ea6ea34b6265
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pyMLaux==0.0.6) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pyMLaux==0.0.6) (1.5.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from pyMLaux==0.0.6) (1.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from pyMLaux==0.0.6) (3.7.1)
Requirement already satisfied: opencv-python in /usr/local/lib/python3.10/dist-packages (from pyMLaux==0.0.6) (4.7.0.72)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyMLaux==0.0.6) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyMLaux==0.0.6) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyMLaux==0.0.6) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyMLaux==0.0.6) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyMLaux==0.0.6) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyMLaux==0.0.6) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyMLaux==0.0.6) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyMLaux==0.0.6) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pyMLaux==0.0.6) (2022.7.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pyMLaux==0.0.6) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pyMLaux==0.0.6) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pyMLaux==0.0.6) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->pyMLaux==0.0.6) (1.16.0)
Building wheels for collected packages: pyMLaux
  Building wheel for pyMLaux (setup.py) ... done
  Created wheel for pyMLaux: filename=pyMLaux-0.0.6-py3-none-any.whl size=6780 sha256=7b8a4538f11946ac6fe37c0a045bef213429277f20ff59ea1560d4c52328c279
  Stored in directory: /tmp/pip-ephem-wheel-cache-84kv6g4a/wheels/53/7c/8e/707f45969871484f44ca858446dfdb44bc59698484796806c1
Successfully built pyMLaux
Installing collected packages: pyMLaux
Successfully installed pyMLaux-0.0.6

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import NuSVR
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from pyMLaux import evaluate_regression_result

In [5]:
energy_data = pd.read_csv(data_dir+"energydata_complete.csv")
energy_data.drop(['rv1', 'rv2'], axis=1, inplace=True)
energy_data['date'] = pd.to_datetime(energy_data['date'])
energy_data.set_index('date', inplace=True)
energy_data.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint
date,,,,,,,,,,,,,,,,,,,,,
2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3
2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2
2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1
2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0
2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9

In [8]:
energy_data_plus = energy_data.copy()
hour = pd.to_datetime(energy_data_plus.index).hour
doy = pd.to_datetime(energy_data_plus.index).day_of_year
dow = pd.to_datetime(energy_data_plus.index).day_of_week
energy_data_plus = pd.concat([energy_data_plus,
                              pd.DataFrame({'hour': hour, 'day_of_week': dow, 'day_of_year': doy}, index=energy_data_plus.index)],
                             axis=1)
energy_data_plus.tail()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,hour,day_of_week,day_of_year
date,,,,,,,,,,,,,,,,,,,,,
2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.7,45.590000,...,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,17,4,148
2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.7,45.590000,...,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,17,4,148
2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.7,45.730000,...,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,17,4,148
2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.7,45.790000,...,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,17,4,148
2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.7,45.963333,...,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,18,4,148

In [9]:
y_appl = np.array(energy_data['Appliances'])
y_light = np.array(energy_data['lights'])
X = np.array(energy_data.iloc[:, 2:])

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y_appl, test_size=0.3, random_state=4232)

## RBF SVR (Appliances)

In [ ]:
# Normalize --> What? Whole dataset? No. --> Normalization-Bias. Same with Feature Selection.
pipeline = make_pipeline(StandardScaler(), NuSVR(kernel='rbf', nu=0.2))
parameters = {'nusvr__C': [2**i for i in range(0,13,4)], 'nusvr__gamma': [4**i for i in range(-3,4)]}
svmR_models = GridSearchCV(pipeline, parameters, cv=3, n_jobs=-1, scoring="r2", verbose=3)
svmR_models.fit(X_train, y_train)

Fitting 3 folds for each of 28 candidates, totalling 84 fits

In [14]:
svmR_models.best_score_

0.13503360580121357

In [15]:
svmR_models.best_params_

{'nusvr__C': 8, 'nusvr__gamma': 0.25}

In [16]:
svmR_models.best_estimator_.score(X_test, y_test)

0.1640399134568753

In [17]:
pred = svmR_models.best_estimator_.predict(X_test)

In [21]:
evaluate_regression_result(y_test, pred)

Mean squared error (MSE): 8728.52
Root mean squared error (RMSE): 93.43
Mean absolute error (MAE): 60.03
Coefficient of determination (R2): 0.16
Correlation coefficient (Pearson): 0.54 (p = 0.0)

In [ ]:
lower, upper = min(y_test), max(y_test)
fig = plt.figure(figsize=(5, 5))
ax = fig.add_axes([0, 0, 1, 1])
ax.scatter(y_test, pred, alpha=0.02)
ax.plot((lower, upper), (lower, upper), linewidth=2, linestyle='dashed', color='darkred')
ax.set_xlim(lower, upper)
ax.set_ylim(lower, upper)
ax.set_xlabel('True value')
ax.set_ylabel('Prediction')
plt.show()

### Linear SVR (Appliances)

In [ ]:
pipe2 = make_pipeline(StandardScaler(), NuSVR(kernel='linear', nu=0.2))

In [ ]:
parameters = {'nusvr__C': [2**i for i in range(0, 8)]}
svmR_models = GridSearchCV(pipe2, parameters, cv=3, n_jobs=-1, scoring='r2', verbose=3)

In [ ]:
svmR_models.fit(X_train, y_train)

In [ ]:
svmR_models.best_score_

In [ ]:
svmR_models.best_params_

In [ ]:
svmR_models.best_estimator_.score(X_test, y_test)

In [ ]:
pred = svmR_models.best_estimator_.predict(X_test)

In [ ]:
evaluate_regression_result(y_test, pred)

In [ ]:
X_train.shape

In [ ]:
lower, upper = min(y_test), max(y_test)
fig = plt.figure(figsize=(5, 5))
ax = fig.add_axes([0, 0, 1, 1])
ax.scatter(y_test, pred, alpha=0.3)
ax.plot((lower, upper), (lower, upper), linewidth=2, linestyle='dashed', color='darkred')
ax.set_xlim(lower, upper)
ax.set_ylim(lower, upper)
ax.set_xlabel('True value')
ax.set_ylabel('Prediction')
plt.show()

### Random Forest (Appliances)

In [ ]:
rf_model = RandomForestRegressor(n_estimators=1000, n_jobs=-1)

In [ ]:
rf_model.fit(X_train, y_train)

In [ ]:
pred = rf_model.predict(X_test)

In [ ]:
X_test.shape

In [ ]:
evaluate_regression_result(y_test, pred)

In [ ]:
lower, upper = min(y_test), max(y_test)
fig = plt.figure(figsize=(5, 5))
ax = fig.add_axes([0, 0, 1, 1])
ax.scatter(y_test, pred, alpha=0.1)
ax.plot((lower, upper), (lower, upper), linewidth=2, linestyle='dashed', color='darkred')
ax.set_xlim(lower, upper)
ax.set_ylim(lower, upper)
ax.set_xlabel('True value')
ax.set_ylabel('Prediction')
plt.show()