In [111]:
import pandas as pd
import numpy as np

In [92]:
data = pd.read_csv("invex_data.csv", sep=";")
data

        index_number        x1   x2   x3    x4         y
0                  0 -1.100000  1.0  0.5  0.05  2.039985
1                  1 -1.063333  1.0  0.5  0.05  2.004431
2                  2 -1.026667  1.0  0.5  0.05  1.968877
3                  3 -0.990000  1.0  0.5  0.05  1.933323
4                  4 -0.953333  1.0  0.5  0.05  1.897769
...              ...       ...  ...  ...   ...       ...
134979        134979  0.286670  0.2  2.4  1.30  0.118869
134980        134980  0.340000  0.2  2.4  1.30  0.109318
134981        134981  0.393330  0.2  2.4  1.30  0.098362
134982        134982  0.446670  0.2  2.4  1.30  0.084682
134983        134983  0.500000  0.2  2.4  1.30  0.067896

[134984 rows x 6 columns]

In [93]:
data.describe()

,index_number,x1,x2,x3,x4,y
count,134984.000000,134984.000000,134984.000000,134984.000000,134984.000000,134984.000000
mean,67491.500000,-0.088878,0.608134,1.341975,0.454326,0.977837
std,38966.668705,0.551793,0.252047,0.548326,0.323041,1.681096
min,0.000000,-1.100000,0.200000,0.500000,0.050000,-0.663545
25%,33745.750000,-0.533333,0.400000,0.900000,0.200000,0.302693
50%,67491.500000,-0.086667,0.600000,1.300000,0.400000,0.731353
75%,101237.250000,0.366667,0.800000,1.800000,0.650000,1.306305
max,134983.000000,1.100000,1.000000,2.400000,1.300000,48.850572

In [94]:
interpolation_center = data[(data["x1"] > -0.63) & (data["x1"] < 0.5) & (data["x2"] > 0.2) & (data["x2"] < 1) & (data["x3"] > 0.9) & (data["x3"] < 1.9) & (data["x4"] > 0.35) & (data["x4"] < 0.85)]
interpolation_center.shape

(11658, 6)

In [95]:
interpolation_lower = data[(data["x1"] > -1.063) & (data["x1"] < -0.07) & (data["x2"] > 0.3) & (data["x2"] < 0.7) & (data["x3"] > 0.6) & (data["x3"] < 1.5) & (data["x4"] > 0.1) & (data["x4"] < 0.65)]
interpolation_lower.shape

(6344, 6)

In [96]:
interpolation_upper = data[(data["x1"] > -0.08) & (data["x1"] < 1.063) & (data["x2"] > 0.5) & (data["x2"] < 0.9) & (data["x3"] > 1.3) & (data["x3"] < 2.2) & (data["x4"] > 0.55) & (data["x4"] < 1.2)]
interpolation_upper.shape

(1760, 6)

In [97]:
interpolation_total = pd.concat([interpolation_lower, interpolation_center, interpolation_upper])
interpolation_total.drop_duplicates(inplace=True)
interpolation_total.shape

(18244, 6)

In [98]:
extrapolation_excl = data[((data["x1"] > -1.1) & (data["x1"] < 1.1)) & ((data["x2"] > 0.2) & (data["x2"] < 1)) & ((data["x3"] > 0.5) & (data["x3"] < 2.4)) & ((data["x4"] > 0.05) & (data["x4"] < 1.3))]
extrapolation_excl.shape

(85517, 6)

In [99]:
extrapolation_excl

        index_number        x1   x2   x3   x4         y
15991          15991 -1.050000  0.9  0.6  0.1  2.039177
15992          15992 -1.000000  0.9  0.6  0.1  1.983465
15993          15993 -0.966667  0.9  0.6  0.1  1.946539
15994          15994 -0.933333  0.9  0.6  0.1  1.909795
15995          15995 -0.900000  0.9  0.6  0.1  1.873238
...              ...       ...  ...  ...  ...       ...
123275        123275  0.393330  0.3  2.2  1.2  0.129059
123276        123276  0.446670  0.3  2.2  1.2  0.109949
123277        123277  0.500000  0.3  2.2  1.2  0.087518
123278        123278  0.546875  0.3  2.2  1.2  0.063065
123279        123279  0.600000  0.3  2.2  1.2  0.035330

[85517 rows x 6 columns]

In [107]:
extrapolation = data.copy(deep=True)
extrapolation.drop(extrapolation_excl.index_number, inplace=True)
extrapolation.shape

(49467, 6)

In [108]:
training = data.copy(deep=True)
training.drop(extrapolation.index_number, inplace=True)
training.drop(interpolation_total.index_number, inplace=True)
training.shape

(67273, 6)

In [112]:
interpolation_center.to_csv("splits/inter_center.csv", index=False)
interpolation_lower.to_csv("splits/inter_lower.csv", index=False)
interpolation_upper.to_csv("splits/inter_upper.csv", index=False)
interpolation_total.to_csv("splits/inter_total.csv", index=False)
extrapolation.to_csv("splits/extrapolation.csv", index=False)
training.to_csv("splits/training.csv", index=False)